<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="../STYLES/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../STYLES/css/adv-basic-style.css">
		<link rel="stylesheet" href="../STYLES/css/adv-ftp-form.css">
	</head>

	<body>
		<header>
			
		</header>

		<!-- INSERIR CONTEÚDO AQUI -->
		<main>
			<div class="container">
			
			<!-- CONTEÚDO DO FORMULÁRIO -->
				<div id="page-header">
					<div class="form-group">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="pill" href="#configuration">Smart FTP Server Configuration</a></li>
							<li><a data-toggle="pill" href="#dashboard">Dashboard</a></li>
						</ul>
						<!-- <div class="adv-logo">
							<img alt="AdviseU" src="img/logo_adviseu.svg" height="50px">
						</div> -->
					</div>
				</div>

				<div class="tab-content">
					
					<div id="dashboard" class="tab-pane fade">
					
						<!-- Dashboard Panel - Smart FTP Server -->
					
					</div> <!-- Fim dashboard -->

					<!-- Configuration panel -->
					<div id="configuration" class="fade in active">
						<div class="panel panel-default">

				  		<div class="panel-heading">
								<p><b>Service Status:</b></p>
								<button type="button" class="btn btn-success-invert" ng-show="ftpServerRunning">
									<span class="glyphicon glyphicon-play"></span>Server is now Running
								</button> 
								<button type="button" class="btn btn-danger-invert" ng-show="!ftpServerRunning">
									<span class="glyphicon glyphicon-stop"></span>Server is now Stopped
								</button>
					  		</div>
					  		<div class="panel-body">
					  			<div class="alert alert-success" ng-show="showSuccessMessage">
					  				<a href="#" ng-click="closeMessage" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					  				<strong>Success!</strong> Configuration saved successfully
								</div>

								<div class="alert alert-danger" ng-show="showErrorMessage">
				  				<a href="#" ng-click="closeErrorMessage" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  				<strong>Error!</strong> Error trying to save the configuration
								</div>

								<div id="ftp-form">
									<form class="form-horizontal" name="configurationForm" novalidate>
										<div class="row form-group">
											<label class="col-sm-3 control-label">Actions:</label>
											<div class="col-sm-9">
												<button type="button" class="btn btn-success-invert" ng-show="!ftpServerRunning" ng-click="startServer()"><span class="glyphicon glyphicon-play"></span>Start</button>
												<button type="button" class="btn btn-danger-invert" ng-show="ftpServerRunning" ng-click="stopServer()"><span class="glyphicon glyphicon-stop"></span>Stop</button>
												<button type="button" class="btn btn-warning-invert" ng-show="ftpServerRunning" ng-click="restartServer()"><span class="glyphicon glyphicon-repeat"></span>Restart</button>
								  			</div>
								  		</div>

								  		<div class="row form-group" ng-class="{ 'has-error' : configurationForm.portNumber.$invalid && !configurationForm.portNumber.$pristine }">
												<label class="col-sm-3 control-label">Port number:</label>
												<label class="col-sm-9 control-label" style="text-align:left" ng-show="!configEditMode"><!-- {{configuration.portNumber}} --></label>
												<div class="col-sm-9" ng-show="configEditMode">
													<input class="form-control" name="portNumber" id="focusedInput" type="text" placeholder="Enter port number" required value="21" ng-model="configuration.portNumber" />
													<span class="error-text" ng-show="configurationForm.portNumber.$invalid && !configurationForm.portNumber.$pristine">Port number is required.</span>
												</div>
											</div>

								  		<div class="row form-group" ng-class="{ 'has-error' : configurationForm.physicalRootPath.$invalid && !configurationForm.physicalRootPath.$pristine }">
												<label class="col-sm-3 control-label">Physical FTP root path:</label>
												<label class="col-sm-9 control-label" style="text-align:left" ng-show="!configEditMode"><!-- {{configuration.physicalRootPath}} --></label>
												<div class="col-sm-9" ng-show="configEditMode">
													<input class="form-control" name="physicalRootPath" id="focusedInput" type="text" placeholder="Enter physical path" required ng-model="configuration.physicalRootPath" />
													<span class="error-text" ng-show="configurationForm.physicalRootPath.$invalid && !configurationForm.physicalRootPath.$pristine">Physical FTP root path is required.</span>
											</div>
										</div>

										<div class="row form-group">
											<div class="col-sm-3">&nbsp;</div>
											<div class="col-sm-9">
												<button type="button" class="btn btn-primary" ng-click="saveConfiguration()" ng-show="configEditMode">Save</button>
												<button type="button" class="btn btn-default" ng-click="editConfiguration(false)" ng-show="configEditMode">Cancel</button>
												<button type="button" class="btn btn-default" ng-click="editConfiguration(true)" ng-show="!configEditMode">Edit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

						<button type="button" class="btn adv-btn-new-action btn-primary-invert" ng-click="newFTPUser()" ng-disabled="showUserForm">
						New FTP User</button>

						<div id="new-user-form" sng-controller="userController" ng-show="showUserForm">
							<div class="panel panel-default">
					  			<div class="panel-heading">
									<p><b>Create new FTP user</b></p>
								</div>
								<div class="panel-body">
									<form class="form-horizontal" name="userForm" novalidate>
										<!-- <div class="alert alert-warning fade in">
						    				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						    				<strong>Warning!</strong> This alert box could indicate a warning that might need attention. {{user}}
						  				</div> -->
										<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
											<label class="col-sm-2 control-label">Name:</label>
											<div class="col-sm-10">
												<input name="name" class="form-control" id="focusedInput" type="text" placeholder="Enter full name." required ng-model="user.name" />
												<span class="error-text" ng-show="userForm.name.$invalid && !userForm.name.$pristine">Name is required.</span>
											</div>
										</div>
										<div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
											<label class="col-sm-2 control-label">User name:</label>
											<div class="col-sm-10">
												<input name="username" class="form-control" id="focusedInput" type="text" placeholder="Enter user name" required ng-model="user.username" />
												<span class="error-text" ng-show="userForm.username.$invalid && !userForm.username.$pristine">User name is required.</span>
											</div>
										</div>
										<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
											<label class="col-sm-2 control-label">E-mail:</label>
											<div class="col-sm-10">
												<input name="email" class="form-control" id="focusedInput" type="email" placeholder="Enter e-mail, example: name@example.com" required ng-model="user.email" />
												<span class="error-text" ng-show="userForm.email.$invalid && !userForm.email.$pristine">E-mail is required.</span>
											</div>
										</div>
										<div class="form-group has-feedback" ng-class="{'has-error' : user.emailConfirmation != user.email , 'has-success' : user.emailConfirmation == user.email }">
											<label class="col-sm-2 control-label" for="inputSuccess">E-mail confirm:</label>
											<div class="col-sm-10">
											<input type="email" name="emailConfirmation" class="form-control" id="inputSuccess" required ng-model="user.emailConfirmation" />
												<span class="glyphicon form-control-feedback" 
													ng-class="{'glyphicon-remove' : user.emailConfirmation != user.email , 'glyphicon-ok' : user.emailConfirmation == user.email }" ></span>
											</div>
										</div>
										<div class="form-group" ng-class="{ 'has-error' : userForm.homePath.$invalid && !userForm.homePath.$pristine }">
											<label class="col-sm-2 control-label">Home path:</label>
											<div class="col-sm-10">
												<input name="homePath" class="form-control" id="focusedInput" type="text" placeholder="Enter root path" required ng-model="user.homePath" />
												<span class="error-text" ng-show="userForm.homePath.$invalid && !userForm.homePath.$pristine">Home path is required.</span>
											</div>
										</div>
										<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
											<label class="col-sm-2 control-label">Password:</label>
											<div class="col-sm-10">
												<input name="password" class="form-control" id="focusedInput" type="password" required ng-model="user.password" />
												<span class="error-text" ng-show="userForm.password.$invalid && !userForm.password.$pristine">Password is required.</span>
											</div>
										</div>
										<div class="form-group has-feedback" ng-class="{'has-error' : user.passwordConfirmation != user.password , 'has-success' : user.passwordConfirmation == user.password }">
											<label class="col-sm-2 control-label" for="inputSuccess">Pwd confirm:</label>
											<div class="col-sm-10">
												<input name="passwordConfirmation" type="password" class="form-control" id="inputSuccess" required ng-model="user.passwordConfirmation" />
												<span class="glyphicon form-control-feedback" 
													ng-class="{'glyphicon-remove' : user.passwordConfirmation != user.password , 'glyphicon-ok' : user.passwordConfirmation == user.password }" ></span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="inputSuccess">Access level:</label>
											<div class="col-sm-10">
					  						<div class="radio-inline radio">
					  							<input id="radio1" type="radio" name="access" checked="checked">
					  							<label for="radio1">Read</label>
				  							</div>
												<div class="radio-inline radio">
													<input id="radio2" type="radio" name="access">
													<label for="radio2">Read / Write</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-2">
												&nbsp;
											</div>
											<div class="col-sm-10">
												<button type="button" class="btn btn-primary">Save</button>
					  						<button type="button" class="btn btn-default" ng-click="cancelNewFTPUser()">Cancel</button>
												<button type="button" class="btn btn-default">Reset</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="table-wrap">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Name</th>
										<th>User</th>
										<th>Email</th>
										<th>Root Path</th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>John Doe</td>
										<td>john@example.com</td>
										<td>john@example.com</td>
										<td>/home/john/</td>
										<td><button type="button" class="btn btn-success btn-sm">Enabled</button></td>
										<td>
											<div class="btn-group">
											  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Actions<span class="caret"></span></button>
											  <!-- <button type="button" class="btn btn-info btn-sm btn-sm"><span>Actions</span></button>
											  <button type="button" class="btn btn-info btn-sm btn-sm dropdown-toggle" data-toggle="dropdown">
											    <span class="caret"></span>
											  </button> -->
											  <ul class="dropdown-menu" role="menu">
											    <li><a href="#">Enable</a></li>
											    <li><a href="#">Disable</a></li>
											    <li><a href="#">Edit</a></li>
											    <li><a href="#">Remove</a></li>
											  </ul>
											</div>
										</td>
									</tr>
									<tr>
										<td>Mary Moe</td>
										<td>mary@example.com</td>
										<td>mary@example.com</td>
										<td>/home/mary/</td>
										<td><button type="button" class="btn btn-success btn-sm">Enabled</button></td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Actions<span class="caret"></span></button>
											  <!-- <button type="button" class="btn btn-info btn-sm"><span>Actions</span></button>
											  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
											    <span class="caret"></span>
											  </button> -->
											  <ul class="dropdown-menu" role="menu">
											    <li><a href="#">Enable</a></li>
											    <li><a href="#">Disable</a></li>
											    <li><a href="#">Edit</a></li>
											    <li><a href="#">Remove</a></li>
											  </ul>
											</div>
										</td>
									</tr>
									<tr>
										<td>July Doodley</td>
										<td>july@example.com</td>
										<td>july@example.com</td>
										<td>/home/july/</td>
										<td><button type="button" class="btn btn-success btn-sm">Disabled</button></td>
										<td>
											<div class="btn-group">
											  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Actions<span class="caret"></span></button>
											  <!-- <button type="button" class="btn btn-info btn-sm btn-sm"><span>Actions</span></button>
											  <button type="button" class="btn btn-info btn-sm btn-sm dropdown-toggle" data-toggle="dropdown">
											    <span class="caret"></span>
											  </button> -->
											  <ul class="dropdown-menu" role="menu">
											    <li><a href="#">Enable</a></li>
											    <li><a href="#">Disable</a></li>
											    <li><a href="#">Edit</a></li>
											    <li><a href="#">Remove</a></li>
											  </ul>
											</div>
										</td>
									</tr>
									<tr>
										<td></td>
										<td>july@example.com</td>
										<td>july@example.com</td>
										<td>/home/july/</td>
										<td><button type="button" class="btn btn-success btn-sm">Enabled</button></td>
										<td>
											<div class="btn-group">
											  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Actions<span class="caret"></span></button>
											  <!-- <button type="button" class="btn btn-info btn-sm"><span>Actions</span></button>
											  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
											    <span class="caret"></span>
											  </button> -->
											  <ul class="dropdown-menu" role="menu">
											    <li><a href="#">Enable</a></li>
											    <li><a href="#">Disable</a></li>
											    <li><a href="#">Edit</a></li>
											    <li><a href="#">Remove</a></li>
											  </ul>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div> <!-- Fim tab configuration -->
				</div> <!-- Fim tab-content -->

			</div>
		</main>
		
	</body>
</html>