/* ----------------------------
	- Customized ADVISEU STYLES
	- FONTS
------------------------------- */

@import "adv-variables-mixins.scss";
@charset "UTF-8";


/*-------------------------------------*/
/*------------ ROOT STYLE -------------*/
/*-------------------------------------*/
html {
	font-size: 10px;
}
body {
	font-family: "Open Sans", "sans-serif"
}
a {
	color: $black;
}
p {
	margin: 0;
}


/*-------------------------------------*/
/*-------- BORDER-RADIUS RESET --------*/
/*-------------------------------------*/
.adv-panel-default,
input.adv-form-control,
.adv-btn-sm {
	border-radius: 0;
}


/*-------------------------------------*/
/*------------ TABS STYLE -------------*/
/*-------------------------------------*/
.form-group {
	position: relative;
}
.adv-nav>li {
	display: inline-block;

	&>a {
		@include transition(color 0.2s);

		&:focus,
		&:hover {
			color: $adv-blue;
			background-color: $white;
			@include transition(color 0.2s);
		}
	}
}
.adv-nav-tabs {
	border-bottom: 2px solid $adv-blue;

	& > li {
		float: left;
	}
	& > li > a {
		
	}
	&>li.active {
		&>a,
		&>a:focus {
			color: $white;
			background-color: $adv-blue;
		}
	}
}


/*-------------------------------------*/
/*-------------- PAINEIS --------------*/
/*-------------------------------------*/
.adv-panel-default {
	border-bottom-color: $gray-1;
}

.adv-panel-heading {
	border-bottom-color: $gray-1;
}


/*-------------------------------------*/
/*--------------- FORMS ---------------*/
/*-------------------------------------*/
// FORM VALIDATIONS
.adv-invalid-txt {
	color: $adv-red;
}
input.adv-form-control {

	&:focus {
		border-color: $adv-blue75;
		box-shadow: 0 0 8px $adv-blue30;
		@include transition(all 0.2s)
	}
}

.has-error .adv-form-control {
	border-color: $adv-red;
}


/*-------------------------------------*/
/*-------------- BUTTONS --------------*/
/*-------------------------------------*/
.adv-btn {
	display: inline-block;
	padding: 0.6rem 1.2rem;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
			touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	background-image: none;
	& {
		background-color: $white;
		border: 2px solid transparent;
		@include transition(all  0.2s);
	}
}
	@mixin btn-colors($color) {
		color: $white;
		background-color: $color;
		@include transition(all 0.2s);

		&:hover,
		&:focus {
			border-color: $color;
			background-color: $white;
			color: $color;
			@include transition(all 0.2s);
		}
	}
	.adv-btn-default {
		@include btn-colors($adv-gray);
	}
	.adv-btn-primary {
		@include btn-colors($adv-blue);
	}
	.adv-btn-success {
		@include btn-colors($adv-green);
	}
	.adv-btn-danger {
		@include btn-colors($adv-red);
	}
	.adv-btn-warning {
		@include btn-colors($adv-orange);
	}
	.adv-btn-info {
		@include btn-colors($adv-blue75);
	}

	@mixin btn-colors-invert($color) {
		color: $color;
		background-color: $white;
		border-color: $color;
		@include transition(all 0.2s);

		&:hover,
		&:focus {
			background-color: $color;
			color: $white;
			@include transition(all 0.2s);
		}
	}
	.adv-btn-default-invert {
		@include btn-colors-invert($adv-gray);
	}
	.adv-btn-primary-invert {
		@include btn-colors-invert($adv-blue);
	}
	.adv-btn-success-invert {
		@include btn-colors-invert($adv-green);
	}
	.adv-btn-danger-invert {
		@include btn-colors-invert($adv-red);
	}
	.adv-btn-warning-invert {
		@include btn-colors-invert($adv-orange);
	}
	.adv-btn-info-invert {
		@include btn-colors-invert($adv-blue75);
	}

// DROPDOWN BUTTON
.adv-btn-info.adv-btn-sm.dropdown-toggle {
	border-left-color: $adv-blue;
}
.adv-btn-sm {
	border-width: 2px;
}
	
/*-------------------------------------*/
/*------------- ALERT BOX -------------*/
/*-------------------------------------*/
.adv-alert {
	border-radius: 0;
}

@mixin adv-alert-box($color1, $color2) {
	color: $color1;
  background-color: $color2;
  border-color: $color1;
}
.adv-alert-success {
	@include adv-alert-box($adv-green, $adv-green15);
}
.adv-alert-danger {
	@include adv-alert-box($adv-red, $adv-red15);
}





/*-------------------------------------*/
/*---------- FONT (OPEN SANS) ---------*/
/*-------------------------------------*/
/* Generated by Font Squirrel (https://www.fontsquirrel.com) on December 1, 2016 */
@font-face {
  font-family: 'open_sansbold';
  src: url('opensans-bold-webfont.woff2') format('woff2'),
       url('opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold_italic';
  src: url('opensans-bolditalic-webfont.woff2') format('woff2'),
       url('opensans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url('opensans-italic-webfont.woff2') format('woff2'),
       url('opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('opensans-light-webfont.woff2') format('woff2'),
       url('opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight_italic';
  src: url('opensans-lightitalic-webfont.woff2') format('woff2'),
       url('opensans-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('opensans-regular-webfont.woff2') format('woff2'),
       url('opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('opensans-semibold-webfont.woff2') format('woff2'),
       url('opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url('opensans-semibolditalic-webfont.woff2') format('woff2'),
       url('opensans-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
