@charset "UTF-8";

/*-------------------------------------*/
/*-------------- COLORS ---------------*/
/*-------------------------------------*/
$white: #FFF;
$black: #333;

// BASIC
$adv-gray: #5F5F5F;
$adv-orange: #F57E20;
$adv-blue: #3498DB;
$adv-green: #2ECC71;
$adv-purple: #8E44AD;
$adv-red: #D9EF35;

// ORANGE
$adv-orange40: #FBCEAA;
$adv-orange60: #F8B076;

// BLUE

// GREEN

// GRAY