@charset "UTF-8";
@import "adv-variables-mixins.scss";

/*-------------------------------------*/
/*------------ ROOT STYLE -------------*/
/*-------------------------------------*/
html {
	font-size: 10px;
}
a {
	color: $black;
}


/*-------------------------------------*/
/*------------ TABS STYLE -------------*/
/*-------------------------------------*/
.form-group {
	position: relative;
}
.adv-nav>li {
	display: inline-block;

	&>a {
		&:focus,
		&:hover {
			color: $adv-blue; 
		}
	}
}
.adv-nav-tabs {
	border-bottom: 2px solid $adv-blue;

	& > li {
		float: left;
	}
	& > li > a {
		
	}
	&>li.active {
		&>a,
		&>a:focus {
			color: $white;
			background-color: $adv-blue;
		}
	}
}


/*-------------------------------------*/
/*--------------- FORMS ---------------*/
/*-------------------------------------*/



/*-------------------------------------*/
/*-------------- BUTTONS --------------*/
/*-------------------------------------*/
