@charset "UTF-8";


/*-------------------------------------*/
/*------------ TABS STYLE -------------*/
/*-------------------------------------*/
.adv-logo {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;

	img {
		height: 100%;
		padding: 0.5rem 1rem 0.5rem 0;
	}
}


/*-------------------------------------*/
/*--------------- FORMS ---------------*/
/*-------------------------------------*/
// SERVICE STATUS