@import "adv-variables-mixins.scss";
@charset "UTF-8";

/* ----------------------------
	- Customized ADVISEU STYLES
	- FONTS
------------------------------- */


/*-------------------------------------*/
/*------------ ROOT STYLE -------------*/
/*-------------------------------------*/
body {
	font-family: "Open Sans", "sans-serif";
}
a {
	color: $black;
}
p {
	margin: 0;
}


/*-------------------------------------*/
/*-------- BORDER-RADIUS RESET --------*/
/*-------------------------------------*/
.nav-tabs>li>a,
.panel-default,
input.adv-form-control,
.btn,
.form-control,
.navbar-inverse {
	border-radius: 0;
	box-shadow: none;
}


/*-------------------------------------*/
/*--------------- IMAGES --------------*/
/*-------------------------------------*/
.img-thumbnail {
	background-color: $white;
}


/*-------------------------------------*/
/*------------ NAVBAR STYLE -----------*/
/*-------------------------------------*/
.navbar-inverse {
	background-color: $black;
}


/*-------------------------------------*/
/*----------- NAV TABS STYLE ----------*/
/*-------------------------------------*/
.form-group {
	position: relative;
}
.nav>li {
	display: inline-block;

	&>a {
		@include transition(color 0.2s);

		&:focus,
		&:hover {
			color: $adv-blue;
			background-color: $white;
			@include transition(color 0.2s);
		}
	}
}
.nav-tabs {
	border-bottom: 2px solid $adv-blue;

	& > li {
		max-width: 50%;
		vertical-align: bottom;
		white-space: nowrap;

		a {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&>li.active {
		&>a,
		&>a:focus {
			color: $white;
			background-color: $adv-blue;
		}
	}
}


/*-------------------------------------*/
/*-------------- PANELS ---------------*/
/*-------------------------------------*/
.panel-default {
	border-width: 0 0 1px 0;
}
.panel-default>.panel-heading {
	border-bottom-color: $gray-1;
	background-color: #FFF;
}

.panel-default {
	box-shadow: none;
}


/*-------------------------------------*/
/*--------------- TABLES --------------*/
/*-------------------------------------*/
.table-wrap {
	overflow: auto;
}


/*-------------------------------------*/
/*--------------- FORMS ---------------*/
/*-------------------------------------*/
// FORM VALIDATIONS
.error-text {
	color: $adv-red;
}
input.adv-form-control {

	&:focus {
		border-color: $adv-blue75;
		box-shadow: 0 0 8px $adv-blue30;
		@include transition(all 0.2s)
	}
}

.has-error .form-control {
	border-color: $adv-red;
}


/*-------------------------------------*/
/*-------------- BUTTONS --------------*/
/*-------------------------------------*/
.btn {
	display: inline-block;
	min-width: 100px;
	padding: 0.6rem 1.2rem;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
			touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	background-image: none;
	& {
		background-color: $white;
		border: 2px solid transparent;
		@include transition(all  0.2s);
	}
}
	@mixin btn-colors($color) {
		color: $white;
		background-color: $color;
		@include transition(all 0.2s);

		&:hover,
		&:focus {
			border-color: $color;
			background-color: $white;
			color: $color;
			@include transition(all 0.2s);
		}
	}
	.btn-default {
		@include btn-colors($adv-gray);
	}
	.btn-primary {
		@include btn-colors($adv-blue);
	}
	.btn-success {
		@include btn-colors($adv-green);
	}
	.btn-danger {
		@include btn-colors($adv-red);
	}
	.btn-warning {
		@include btn-colors($adv-orange);
	}
	.btn-info {
		@include btn-colors($adv-blue75);
	}

	@mixin btn-colors-invert($color) {
		color: $color;
		background-color: $white;
		border-color: $color;
		@include transition(all 0.2s);

		&:hover,
		&:focus {
			background-color: $color;
			color: $white;
			@include transition(all 0.2s);
		}
	}
	.btn-default-invert {
		@include btn-colors-invert($adv-gray);
	}
	.btn-primary-invert {
		@include btn-colors-invert($adv-blue);
	}
	.btn-success-invert {
		@include btn-colors-invert($adv-green);
	}
	.btn-danger-invert {
		@include btn-colors-invert($adv-red);
	}
	.btn-warning-invert {
		@include btn-colors-invert($adv-orange);
	}
	.btn-info-invert {
		@include btn-colors-invert($adv-blue75);
	}

// DROPDOWN BUTTON
.btn-info.adv-btn-sm.dropdown-toggle:last-child {
	border-left-color: $adv-blue;
}
.btn-sm {
	border-width: 2px;
}

// SPLIT BUTTON DROPDOWN (ALTERNATIVE)
td>.btn-group>.btn-info {
	position: relative;

	.caret {
		margin-left: 2.6rem;
		&::before {
			content: "";
			position: absolute;
			height: 100%;
			border-left: 1px solid;
			border-left-color: $adv-blue30;
			top: 0;
			right: 3.4rem;
			@include transition(border-left-color);
		}
	}

	&:hover,
	&:focus {
		.caret::before {
			border-left-color: $adv-blue75;
			@include transition(border-left-color);
		}
	}
}


/*-------------------------------------*/
/*--------------- FORMS ---------------*/
/*-------------------------------------*/
// PANEL-HEADING
.panel-heading p {
	display: inline-block;
	color: $adv-blue;
	margin-right: 1rem;
	font-size: 1.8rem;
}

// RADIOS & CHECHBOXES
@mixin radio-checkbox($type, $unicode, $border-radius) {
	padding-left: 0; 
	input[type="#{$type}"] {
		display: none;
		&:checked + label::before {
	    content: $unicode;
	    font-size: 2rem;
	    line-height: 1.1rem;
	    text-align: center;
	    color: $adv-blue75;
		}
	}
	label {
		display: inline-block;
		position: relative;
		padding-left: 2rem;
	  margin-right: 1.5rem;
	  font-size: 1.3rem;
		font-weight: normal;
		cursor: pointer;

		&::before {
		  content: "";
		  display: inline-block;
		  position: absolute;
		  left: 0;
		  bottom: 1px;
		  height: 1.6rem;
		  width: 1.6rem;
		  border: 1px solid $adv-gray45;
		  border-radius: #{$border-radius};
		}
	}
}

.radio {
	@include radio-checkbox(radio, "\25CF", 50%);
}
.checkbox {
	@include radio-checkbox(checkbox, "\2714", 0);
}


/*-------------------------------------*/
/*------------- ALERT BOX -------------*/
/*-------------------------------------*/
.alert {
	border-radius: 0;
}

@mixin adv-alert-box($color1, $color2) {
	color: $color1;
  background-color: $color2;
  border-color: $color1;
}
.alert-success {
	@include adv-alert-box($adv-green, $adv-green15);
}
.alert-danger {
	@include adv-alert-box($adv-red, $adv-red15);
}





/*-------------------------------------*/
/*---------- FONT (OPEN SANS) ---------*/
/*-------------------------------------*/
/* Generated by Font Squirrel (https://www.fontsquirrel.com) on December 1, 2016 */
@font-face {
  font-family: 'open_sansbold';
  src: url('opensans-bold-webfont.woff2') format('woff2'),
       url('opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold_italic';
  src: url('opensans-bolditalic-webfont.woff2') format('woff2'),
       url('opensans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url('opensans-italic-webfont.woff2') format('woff2'),
       url('opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('opensans-light-webfont.woff2') format('woff2'),
       url('opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight_italic';
  src: url('opensans-lightitalic-webfont.woff2') format('woff2'),
       url('opensans-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('opensans-regular-webfont.woff2') format('woff2'),
       url('opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('opensans-semibold-webfont.woff2') format('woff2'),
       url('opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url('opensans-semibolditalic-webfont.woff2') format('woff2'),
       url('opensans-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
