@import "adv-variables-mixins.scss";


/*-------------------------------------*/
/*-------------- HEADER ---------------*/
/*-------------------------------------*/
.header-left {
	float: left;

	.adv-day-time {
		color: $white;
	}
}
.header-right {
	float: right;

	.img-thumbnail {
		height: 4rem;
		width: 4rem;

		span {
			display: inline-block;
			height: 100%;
			width: 100%;
			background-size: contain;
		}
	}
}
